name: Testing

on:
  push:
    branches:
      - main
      - devel
  pull_request:
    branches:
      - main
      - devel

jobs:
  test:
    runs-on: ubuntu-latest
    # strategy:
    #   matrix:
    #     python-version: ['3.12']
    steps:
      - name: Check out the code
        uses: actions/checkout@v3

      # - name: Set up Python
      #   uses: actions/setup-python@v4
      #   with:
      #     python-version: ${{ matrix.python-version }}

      - name: Install python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ".[dev]"

      - name: Run tests
        run: |
          coverage run -m pytest .
          coverage report --sort=cover
      
      - name: Test tutorials
        run: |
          jupyter nbconvert --to notebook --execute tutorials/*.ipynb --output-dir=/tmp --ExecutePreprocessor.timeout=300
